<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        {% block title %}
            404
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style/404_page/404_page.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src="{{ asset('script/404_page/script.js') }}"></script>
        {% endblock %}

    </head>

    <body>
        {% block body %}
            <div class="box">
                <div class="box-ghost">
                    <div class="symbol"></div>
                    <div class="symbol"></div>
                    <div class="symbol"></div>
                    <div class="symbol"></div>
                    <div class="symbol"></div>
                    <div class="symbol"></div>

                    <div class="box-ghost-container">
                        <div class="box-ghost-eyes">
                            <div class="box-eye-left"></div>
                            <div class="box-eye-right"></div>
                        </div>
                        <div class="box-ghost-bottom">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="box-ghost-shadow"></div>
                </div>

                <div class="box-description">
                    <div class="box-description-container">
                        <div class="box-description-title">Ooooops!</div>
                        <div class="box-description-text">Il semblerais que nous n'ayons pas pu trouver la page que vous cherchez.</div>
                    </div>

                    <a href="{{ path('home') }}" class="box-button">Retour</a>

                </div>

            </div>
        {% endblock %}
    </body>

</html>
